<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="width: 800px; padding: 10px 50px;">
    <div style="text-align: center;">
        <img src="https://s3-us-west-1.amazonaws.com/popdesign/static/email_template/welcome_email_temp.jpg" style="height: 400px;">
    </div>
    <div style="text-align: left; margin-left: 80px;">
        <h3>Hello $username!</h3>
        <p>Welcome to 1dots !</p>
        <p>You will discover and buy amazing, creative design things !</p>
        <p>Confirm you email address and to make sure you receive important notifications</p>
    </div>
</body>
</html>